allennlp==2.9.1
allennlp-models==2.9.0
spacy-streamlit==1.0.2
pysbd==0.3.4
spacy-transformers==1.1.5
benepar==0.2.0
checklist==0.0.11
click==8
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
streamlit==1.4.0
keybert==0.5.1
keyphrase-vectorizers==0.0.7
bert-extractive-summarizer==0.10.1
streamlit-multipage==0.0.18
sagemaker==2.85.0

joblib==1.0.0
numpy==1.19.5
protobuf==3.14.0
psutil==5.8.0
pyparsing==2.4.7
requests==2.25.1
sentencepiece==0.1.95
tokenizers==0.10.3
torch==1.7.1
transformers==4.8.2
urllib3==1.26.2
pysbd==0.3.4
sentence-transformers==1.2.1
textrazor
flashtext
python-dotenv
boto3
